
article {
  background: #fff;
  margin-top: -200px;
}
article p{
  text-align: justify;
}
article img{
  max-width: 100% !important;
  height: auto;
}
article:not(img){
  padding: 30px;
}
.articlethumbnail{
   width: 100%;
   height: 500px;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 135px;
}
.articlethumbnail h1{
  text-align: center;
  top: 8%;
  /* background: #fff; */
  font-family: Market;
  color: #fff;
  font-weight: bolder;
  font-size: 3em;
}
/* Center the caption. */
.jp-carousel-info h2 {
 text-align: center !important;
}

/* Hide comment form header. */
.jp-carousel-left-column-wrapper {
 display: none !important;
}

/* Center the metabox. */
.jp-carousel-image-meta {
 float: none !important;
 margin-left: auto;
 margin-right: auto;
}
blockquote{
  font-size: inherit !important;
}
@media (max-width: 700px){
  .articlethumbnail{
    padding-top: 70px !important;
  }
  .articlethumbnail h1{
    font-size: 2em !important;
  }
}
@media (min-width: 1170px){
  .articlethumbnail h1{
    padding-left: 100px;
    padding-right: 100px;
  }
}
