.carousel .item{
    height: 500px;
}
.carousel .item,
.halfItem {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
}
.item img {
    top: 0;
    left: 0;
    height:500px;
}
.carousel{
  box-shadow: 5px 5px 5px #888888;
}
.carousel-control{
  width: 5%;
  display: none;
}
.carousel:hover .carousel-control{
  display:block;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel .item h1{
  font-size: 2.875em;
  text-shadow: 1px 1px #f1f1f1;
  text-transform: uppercase;
  font-family: "Market";
}
#carouselSL{
  border-top: 5px solid #fff;
}
#carouselOTRA .item > div,
#carouselSL .item > div
{
    position: absolute;
    width: 100%;
}
#carouselEBL .item > div > div,
.carousel .item > div{
  bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: absolute;
}
#carouselOTRA .item > div + span{
  display: none;
}
.overlay-slider{
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 35%;
  bottom: 0;
  position: absolute;
}
.halfItem{
  width: 45%;
  left:0;
  height: 100%;
}
.halfItem + .halfItem{
  margin-left:45%;
}
.moreInfoItem{
  margin-left: 90%;
  height: 100%;
  width: 10%;
  background:#fff;
  border: 1px solid red;
}
.moreInfoItem span{
  margin-top: 100%;
  font-size: 8em;
  color: #fff;
  text-shadow: 2px 0 0 grey, -2px 0 0 grey, 0 2px 0 grey, 0 -2px 0 grey, 1px 1px grey, -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey;
  margin-left: 25%;
}
.carousel .item p{
  width: 72%;
  margin-left: 15%;
  font-size: 16px;
}
.carousel .item a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.width100{
  width: 100%;
}
.noBold{
  font-weight: normal !important;
  color: #e1e1e1;
  font-size: 12px !important;
}

@media (max-width: 1150px) {
  .overlay-slider{
    height: 60%;
  }
  #carouselOTRA .item h1{
    font-size: 2.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
  #carouselEBL .item{
    height: 1500px;
  }

  .halfItem{
    height: 500px !important;
    width: 100%;
    bottom: 1000px !important;
    position: absolute;
  }
  .halfItem + .halfItem{
    height: 500px;
    margin-left: 0%;
    width: 100%;
    height: 500px;
    bottom: 500px !important;
    position: absolute;
  }
  .moreInfoItem{
    height: 500px;
    width: 100%;
    margin-left: 0%;
    bottom: 0;
    position: absolute;
  }
  .moreInfoItem span{
    margin-top: 200px;
    margin-left: 45%;
  }
}
@media (max-width: 700px) {
  .overlay-slider{
    height: 35%;
  }
  .carousel .item p{
    display: none;
  }
  .carousel .item h1{
    margin-bottom: 7%;
    overflow: hidden;
  }
  .moreInfoItem span{
    margin-left: 40%;
  }
  .moreInfoItem img{
    margin-top: 45% !important;
  }
}
